.bg-earth, .bg-mars {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-earth {
    background-image: url("/0.1/img/bg-earth-landscape.jpg");
    background-color: #01021E !important;
}

.bg-mars {
    background-image: url("/0.1/img/bg-mars-landscape.jpg");
    background-color: #4D2D1E !important;
}

@media only screen and (max-width : 1020px) {
    .bg-earth {
        background-image: url("/0.1/img/bg-earth-portrait.jpg") !important;
    }
    .bg-mars {
        background-image: url("/0.1/img/bg-mars-portrait.jpg") !important;
    }
}
