

    //@media only screen and (max-width: 1020px){
    //@media only screen and (min-width: 1021px)

portrait()
    @media handheld, (max-width: 1020px), (orientation: portrait) {
        {block}
    }

landscape()
    @media (min-width: 1021px), (orientation: lanscape) {
        {block}
    }
