/*
 * Copyright (C) 2012-2020  Online-Go.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

ROCKET_LAUNCH_DURATION = 1.25s

@keyframes rocket-launch {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100vh);
    }
}



#LandingPage {
    position: absolute;
    background-color: green;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;


    .mountain-background {
        position: absolute;
        font-size: 60px;
        text-align: center;
        background-color: brown;

        top: 10vh;
        bottom: 10vh;
        left: 0;
        right: 0;
    }


    .learn-to-play-rocket, .play-rocket {
        position: absolute;
        background-color: RED;
        bottom: 10rem;
        width: 5rem;
        text-align: center;

        .flames {
            display: none;
        }
    }
    .learn-to-play-rocket {
        left: 5vw;
    }

    .play-rocket {
        right: 5vw;
    }

    .launch {
        transform: translateY(-100vh);
        animation: rocket-launch ROCKET_LAUNCH_DURATION;
        animation-timing-function: cubic-bezier(0.73, 0.27, 0.95, 0.66);

        .flames {
            display: block;
        }
    }



    .learn-to-play-button-container, .play-button-container {
        position: absolute;
        background-color: blue;
        bottom: 5rem;
        height: 5rem;
        text-align: center;

    }

    .learn-to-play-button-container {
        left: 5vw;
    }

    .play-button-container {
        right: 5vw;
    }


}
